<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Is Java Fun?</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

	<form action="/submitForm" method="POST" name=form>
		<h1>Do you think Java is fun?</h1>
		<br> <input type="radio" id="yes" name="rbYesOrNo" value="yes">
		<label for="yes">Yes</label> <br> <input type="radio" id="no"
			name="rbYesOrNo" value="no"> <label for="no">No</label> <br>
		<br> <input type="checkBox" id="yes" name="chkAddToMail"
			value="yes"> <label for="addToMail"> Add to mailing
			list </label> <br>
		<br>
		<div>
		Name :<input TYPE="text" name="name" required><br><br>
		</div>
		
		<div>
		Email :<input TYPE="text" name="email" required><br> <br>
		</div>
		<input type="submit" value="Submit">
	</form>

</body>
</html>